<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="dataAccessContext.xml" />

    <bean id="multiInsertIbatisStageDAO" class="com.kilo.dao.impl.ibatis.MultiInsertStageDAO">
        <property name="sqlMapClientTemplate" ref="testerSqlMapClientTemplate" />
    </bean>
    
    <bean id="multiInsertSJDBCStageDAO" class="com.kilo.dao.impl.sjdbc.MultiInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="multiInsertJDBCStageDAO" class="com.kilo.dao.impl.jdbc.MultiInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>
</beans>