<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="dataAccessContext.xml" />

    <bean id="multiInsertIbatisStageDAO" class="com.kilo.dao.impl.ibatis.MultiInsertStageDAO">
        <property name="sqlMapClientTemplate" ref="testerSqlMapClientTemplate" />
    </bean>

    <bean id="multiInsertSJDBCStageDAO" class="com.kilo.dao.impl.sjdbc.MultiInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="multiInsertJDBCStageDAO" class="com.kilo.dao.impl.jdbc.MultiInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="multiValuesInsertIbatisStageDAO" class="com.kilo.dao.impl.ibatis.MultiValuesInsertStageDAO">
        <property name="sqlMapClientTemplate" ref="testerSqlMapClientTemplate" />
    </bean>

    <bean id="multiValuesInsertSJDBCStageDAO" class="com.kilo.dao.impl.sjdbc.MultiValuesInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="multiValuesInsertJDBCStageDAO" class="com.kilo.dao.impl.jdbc.MultiValuesInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="batchInsertIbatisStageDAO" class="com.kilo.dao.impl.ibatis.BatchInsertStageDAO">
        <property name="sqlMapClientTemplate" ref="testerSqlMapClientTemplate" />
    </bean>

    <bean id="batchInsertSJDBCStageDAO" class="com.kilo.dao.impl.sjdbc.BatchInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="batchInsertJDBCStageDAO" class="com.kilo.dao.impl.jdbc.BatchInsertStageDAO">
        <property name="dataSource" ref="testerDataSource" />
    </bean>

    <bean id="bcpIbatisStageDAO" class="com.kilo.dao.impl.ibatis.bcp.BCPStageDAO">
        <property name="sqlMapClientTemplate" ref="testerSqlMapClientTemplate" />
        <property name="username" value="${com.kilo.username}" />
        <property name="password" value="${com.kilo.password}" />
        <property name="server" value="${com.kilo.dataserver}" />
    </bean>

    <bean id="bulkInsertIbatisStageDAO" class="com.kilo.dao.impl.ibatis.BulkInsertStageDAO">
        <property name="sqlMapClientTemplate" ref="testerSqlMapClientTemplate" />
        <property name="uncPathPrefix" value="${com.kilo.unc.path.prefix}" />
        <property name="dirPath" value="${com.kilo.dir.path}" />
    </bean>

</beans>